img {
  max-height: 360px;
  object-fit: cover;
}

.img-thumb {
  width: 70px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  transition: transform .3s;
}

.img-thumb:hover {
  transform: scale(1.1);
}

h2 {
  color: #b02a37;
}
